html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
}

a {
  color: #000;
  outline: none;
}

body {
  display: flex;
  font-family: Roboto, sans-serif;
}

.sidebar {
  padding: 2rem 2.5rem 0;
  width: 20%;
  box-shadow: 2px 0 10px 2px #0000004d;
  background-color: #303030;
  color: #fff;
}

.profileImg {
  width: 65%;
  border-radius: 50%;
}

.profileInfoContainer {
  margin: 2rem 0;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-top: 10px;
}

.info :first-child {
  font-size: 16px;
  font-weight: 600;
  padding-right: 6px;
  color: #fff;
}

.info > p {
  margin: 0;
  color: #ffffff80;
}

.info > a {
  color: #ffffff80;
  overflow-x: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  text-decoration: none;
}

.info > a:hover {
  color: #fff;
  text-decoration: underline;
}

.list {
  padding-left: 0;
}

ul {
  list-style-type: none;
  color: #ffffff80;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0;
  overflow-y: auto;
}

.mainInfos {
  margin-top: 2rem;
}

.experienceInfosContainer > :first-child {
  border: none;
}

.experience {
  border-top: 1px solid #00000038;
  margin-bottom: 1rem;
}

.experience span {
  display: flex;
  margin-top: 1rem;
}

.experience > span :first-child {
  margin-right: 5px;
  font-weight: 600;
}

.experience p {
  margin: 0;
}

.experience > a {
  display: block;
  margin-top: 1rem;
}

.divider {
  display: block;
  border-bottom: 2px solid;
  margin: 1.5rem 0;
}

.periodOfTime {
  font-size: 14px;
  color: #666666cf;
}
