html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
}

body {
  display: flex;
  font-family: Roboto, sans-serif;
}

.sidebar {
  padding: 2rem 2rem 0;
  width: 20%;
  max-height: 799px;
  box-shadow: 2px 0 10px 2px #0000004d;
}

.profileImgContainer {
  display: flex;
  justify-content: center;
}

.profileImg {
  width: 80%;
  border-radius: 50%;
}

.parent {
  margin: 2rem 0;
}

.fields {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.fields > p {
  margin-bottom: 0;
}

.fields > a {
  margin-top: 15px;
  overflow-x: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.teste {
  font-weight: 900;
  margin-right: 6px;
}

.teste2 {
  font-size: 14px;
  color: #666666cf;
}

.list {
  padding-left: 0;
}

ul {
  list-style-type: none;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0;
  overflow-y: auto;
  max-height: 799px;
}

.mainInfos {
  margin-top: 2rem;
}

.infos:first-child {
  border: none;
}

.infos {
  border-top: 1px solid #00000027;
  margin-bottom: 1rem;
}

.infos span {
  display: flex;
  margin-top: 1rem;
}

.infos > span :first-child {
  margin-right: 5px;
  font-weight: 600;
}

.infos p {
  margin: 0;
}

.divider {
  display: block;
  border-bottom: 2px solid;
  margin: 1.5rem 0;
}
