html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

body {
  display: flex;
  font-family: Roboto, sans-serif;
}

.sidebar {
  /* padding: 2rem 0 0 2rem; */
  padding: 0 2rem;
  width: 20%;
  height: 100%;
  box-shadow: 2px 0 10px 2px #0000004d;
}

.profileImg {
  width: 70%;
  border-radius: 50%;
}

.parent {
  margin: 2rem 0;
}

.fields {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.fields>p {
  margin-bottom: 0;
}

.list {
  padding-left: 0;
}

ul {
  list-style-type: none;
}

.main {
  padding: 1rem 2rem 0;
  max-height: 667px;
  /* overflow-y: scroll; */
}

.infos:first-child {
  border: none;
}

.infos {
  border-top: 1px solid #00000027;
  margin-bottom: 1rem;
}

.infos span {
  display: flex;
  font-weight: 700;
  margin-top: 1rem;
}

.infos>span>p {
  margin-right: 5px;
}

.infos p {
  margin: 0;
}