html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  font-family: Roboto;
  background-size: cover;
  overflow: hidden;
}

.none {
  display: none;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 7px 10px 1px #0000003a, -1px -1px 10px 1px #00000019;
  border-radius: 10px;
  width: 30%;
  height: 55%;
  padding: 1rem 2rem;
}

.backIcon {
  background-color: transparent;
  position: absolute;
  left: 28%;
  top: 16%;
  border-radius: 50%;
  width: 4%;
}

.backIcon:hover {
  background-color: #00000019;
}

.formContainer h1 {
  font-weight: 550;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 2rem 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.inputContainer span {
  width: 110%;
  display: none;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  padding: 0 0;
}

input::placeholder {
  font-size: 14px;
  font-weight: 545;
  color: #00000092;
}

input:focus {
  outline: none;
  border-bottom: 0px solid;
}

.inputContainer > input:focus + span {
  display: block;
  border-bottom: 2px solid #005eff;
  animation: forwards 0.3s inputFocusAnimation;
}

button {
  background-color: #023b9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 60%;
  padding: 0.8rem 0;
  transition: 0.5s;
}

button:hover {
  background-color: #1a63e3;
  transition: 0.5s;
}

button:disabled {
  background-color: #023b9d62;
  color: #ffffff89;
}

button:disabled:hover {
  background-color: #023b9d62;
  color: #ffffff89;
}

.experienceFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 7px 10px 1px #0000003a, -1px -1px 10px 1px #00000019;
  border-radius: 10px;
  width: 40%;
  height: 65%;
  padding: 1rem 2rem;
}

.experienceFormContainer > h1 {
  margin-bottom: 3rem;
}

.add {
  display: flex;
  align-items: center;
  width: 100%;
}

.add > .inputContainer {
  width: 100%;
  margin-right: 2rem;
  margin-bottom: 0;
}

.experienceInfos {
  width: 100%;
  margin-top: 2rem;
  overflow-y: scroll;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  width: 90%;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.experience:hover {
  background-color: #00000019;
}

.removeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #000;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 20px;
}

.removeIcon:hover {
  background-color: transparent;
  color: #ff0000;
  transition: 0.2s;
}

.experienceFormContainer > .confirmBtn {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes inputFocusAnimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
